# Pin dependencies for Python 3.6 (Ubuntu 18.04)
Werkzeug==2.0.3
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
psycopg2-binary==2.9.3
python-dotenv==0.20.0

# Runtime
gunicorn==20.1.0
honcho==1.1.0

# Code quality (Latest versions supporting Python 3.6)
pylint==2.13.9
flake8==4.0.1
black==21.12b0

# Testing
nose==1.3.7
pinocchio==0.4.3
factory-boy==3.2.1

# Code Coverage
coverage==6.2

# Utilities
httpie==2.6.0